<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160130937938-7tfj25f9ch4jfn2v94iftdo0b48hpk9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160130937938-7tfj25f9ch4jfn2v94iftdo0b48hpk9f</string>
	<key>API_KEY</key>
	<string>AIzaSyBzjzQQnzQ7EYChFBl1rzKQP5HBuRn5NTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>160130937938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fl</string>
	<key>PROJECT_ID</key>
	<string>flfl-84799</string>
	<key>STORAGE_BUCKET</key>
	<string>flfl-84799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160130937938:ios:8d819ee40789bc88865b8b</string>
</dict>
</plist>